@model IEnumerable<CQCMXY.WeiXin.Data.Models.AppInterfaceInfo>

@{
    ViewBag.Title = "接口列表首要";
}

<h2>接口列表首要</h2>

<p>
    @Html.ActionLink("添加", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.AppTokenInfo.AppTitle)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.URL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Token)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.JSDomain)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.AppTokenInfo.AppTitle)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.URL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Token)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.JSDomain)
        </td>
        <td>
            @Html.ActionLink("编辑", "Edit", new { id=item.Id }) |
            @Html.ActionLink("详细", "Details", new { id=item.Id }) |
            @Html.ActionLink("删除", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
